---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$c-main:        #FF9595;
$c-main-dark:   #FA8283;
$c-black:       #4A545D;
$c-black:       #333;
$c-black:       #505356;

$screen-small: 480px;
$screen-medium: 780px;
$font-family: Source Sans Pro;

@import 'abstracts/module';
@import 'vendors/module';
@import 'bases/module';
@import 'layouts/module';
@import 'components/module';
@import 'pages/module';
@import 'themes/module';
