
.page-template-grid {
  @include max-xs {
    padding-top: 23vh;
  }
  .item-background {
    background:$c-salmon;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    &.active {
      opacity: 1;
    }
    @include max-xs {
      display: none;
    }
  }
  .items {
    .item {
      float: left;
      width: calc(100% / 3);
      height: 10em;
      display: inline-block;
      padding: 0 .75em 1.5em .75em;
      @include max-xs {
        width: 100%;
        padding: 0;
      }
      a {
        border:2px solid $c-black;
        padding: 1rem;
        display: block;
        height:100%;
        color: $c-black;
        transition: all .25s ease;
        background-size: 0%;
        @include max-xs {
          border:none;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 1 !important;
        }
        h1.title {
          color:#333;
          font-weight: 600;
          @include max-xs {
            display: none;
          }
        }
        h2.subtitle {
          margin-top: 0.5rem;
          line-height: 1.3em;
          display: inline-block;
          @include max-xs {
            display: none;
          }
        }
        span.timestamp {
          display: block;
          margin-top: 0.5rem;
          opacity: 0.5;
        }
        &:hover {
          border-color:$c-salmon;
          h1 {
            color:$c-salmon;
            transition: all .25s ease;
            &.light {
              color:#fff;
            }
            &.dark {
              color:#333;
            }
          }
          h2 {
            &.light {
              color:#fff;
            }
            &.dark {
              color:#333;
            }
          }
        }
      }
    }
  }
}

.page-template-grid {
  &.work {
    .items {
      .item {
        @include max-xs {
          width: 100%;
          padding: 0;
          height: 50vw;
        }
        @include max-xxs {
          height: 70vw;
        }
      }
    }
  }
  &.blog {
    .items {
      .item {
        @include max-xxs {
          height: auto;
          a {
            padding: 1.5rem 1rem;
          }
        }
      }
    }
  }
}
