
.modal-content {
  .site-container {
    padding: 10rem 5vw 5em;
  @include max-xxs {
    padding: 23vh 0 3em 0;
  }
  .container {
      @include max-xxs {
        padding:0 6vw
      }
    }
  }
  h1 {
    font-size: 6em;
    font-weight: 700;
    margin:0 0 .5em 0;
    line-height: 1.2em;
    @include max-xxs {
      font-size: 2.4em;
      margin:0 0 .25em 0;
    }
  }
  h2 {
    font-size:3em;
    font-weight: 700;
    color: #c5ccd0;
    margin: 0 0 1.5em 0;
    text-align: right;
    line-height: 1.2em;
    @include max-xxs {
      font-size: 1.8em;
      text-align: left;
      margin:0 0 1em 0;
      font-weight: 600;
    }
  }
  p, ul, figure {
    font-size: 1.3em;
    margin: 0 auto 1.5em auto;
    line-height: 1.7em;
    max-width: 700px;
    color: #676682;
    @include max-xxs {
      font-size: 1.2em;
    }
    b {
      font-weight: 600;
    }
    a {
      color:$c-salmon;
      &:hover {
        color:$c-salmon-dark;
      }
    }
  }
}

code.highlighter-rouge {
  background: #f1f1f5;
  padding: 0.4em 0.6em;
  border-radius: 0.3em;
  font-family: monospace;
}

figure {
  pre {
    background: #f1f1f5;
    padding: 1em 1em 0.75em 1.5em;
    border-radius: 0.3em;
    color: #585861;
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: monospace;
  }
}

ul {
  padding: 0 0 0 1.5em;
  // list-style-type:hiragana;
  // list-style-type:hiragana-iroha;
  // list-style-type:katakana;
  list-style-type:katakana-iroha;
  li {
    padding: 0 0 0 1em;
    margin: 0 0 .5em;
    @include max-xxs {
      padding: 0 0 0 .2em;
      margin: 0 0 .8em;
    }
  }
}


.modal-content {
  .quote {
    max-width: 700px;
    margin:0 auto 2em auto;
    display: block;
    &.long {
      max-width: 900px;
      display: block;
      font-size: 1.2em;
      font-style: italic;
      color:#909090;
      p {
        font-size:1.1em;
      }
    }
    &.big {
      margin: 3em auto 3em auto;
      @include max-xs {
        margin: 1.5em auto;
      }
      p {
        font-size:2.9em;
        font-weight: 300;
        line-height: 1.24em;
        margin:0 0 0.3em 0;
        @include max-xs {
          font-size: 2em;
          line-height: 1.4em;
        }
      }
      .source {
        display: block;
        font-size: 1.4em;
        font-style: italic;
        color: #c5ccd0;
      }
    }
  }
}

.modal-kill {
  $icon-size: 5em;
  height: $icon-size;
  width: $icon-size;
  position: fixed;
  top:0;
  left:0;
  svg {
    width:100%;
    height:100%;
    fill:$c-salmon;
    transition: all .25s ease;
  }
  &:hover {
    svg {
      fill:$c-salmon-dark;
    }
  }
}

.modal-backdrop {
  height:100%;
  width:100%;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin:0;
  z-index: 2;
  position: absolute;
  position: fixed;
  background-color:#fff;

  // display: none;
  opacity: 0;

  $animation-name: modal-backdrop-fadein;
  $animation-duration: .5s;
  $animation-delay: 0;
  $animation-fill: forwards;

  transition: opacity .5s ease;
  -ms-animation-name: $animation-name;
  -ms-animation-duration: $animation-duration;
  -ms-animation-delay: $animation-delay;
  -ms-animation-fill-mode: $animation-fill;
  -webkit-animation-name: $animation-name;
  -webkit-animation-duration: $animation-duration;
  -webkit-animation-delay: $animation-delay;
  -webkit-animation-fill-mode: $animation-fill;
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-delay: $animation-delay;
  animation-fill-mode: $animation-fill;

  @-ms-keyframes #{$animation-name} {
    0%    {opacity:0; display: block;}
    100%  {opacity:1;}
  }
  @-webkit-keyframes #{$animation-name} {
    0%    {opacity:0; display: block;}
    100%  {opacity:1;}
  }
  @keyframes #{$animation-name} {
    0%    {opacity:0; display: block;}
    100%  {opacity:1;}
  }
}

.modal-content {
  height:100%;
  width:100%;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin:0;
  z-index: 3;
  position: absolute;
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  // display: none;
  opacity: 0;

  $animation-name: modal-content-fadein;
  $animation-duration: 1s;
  $animation-delay: .5s;
  $animation-fill: forwards;

  transition: opacity .5s ease;
  -ms-animation-name: $animation-name;
  -ms-animation-duration: $animation-duration;
  -ms-animation-delay: $animation-delay;
  -ms-animation-fill-mode: $animation-fill;
  -webkit-animation-name: $animation-name;
  -webkit-animation-duration: $animation-duration;
  -webkit-animation-delay: $animation-delay;
  -webkit-animation-fill-mode: $animation-fill;
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-delay: $animation-delay;
  animation-fill-mode: $animation-fill;

  @-ms-keyframes #{$animation-name} {
    0%    {transform: translateY(2em); opacity:0; display: block;}
    100%  {transform: translateY(0em); opacity:1;}
  }
  @-webkit-keyframes #{$animation-name} {
    0%    {transform: translateY(2em); opacity:0; display: block;}
    100%  {transform: translateY(0em); opacity:1;}
  }
  @keyframes #{$animation-name} {
    0%    {transform: translateY(2em); opacity:0; display: block;}
    100%  {transform: translateY(0em); opacity:1;}
  }
}

.image-container {
  $image-padding: .5em;
  width: calc(100% + (#{$image-padding} * 2));
  margin-left: calc(#{$image-padding} * -1);
  margin-bottom:2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  @include max-xs {
    margin-left: 0;
    width: 100%;
  }
  img {
    width:100%;
    height:auto;
    padding: $image-padding;
  }
  .clear {
    width:1px;
    height:1px;
    padding: 0;
    opacity: 0;
    overflow: hidden;
  }
  .w1 {
    width:24.5%;
  }
  .w2 {
    width:49.5%;
  }
  .w3 {
    width:74.5%;
  }
  .w4 {
    width: 99.5%;
  }

  // Tablet
  @include max-xs {
    .w1 {
      width:100%;
    }
    .w2 {
      width:100%;
    }
    .w3 {
      width:100%;
    }
    .w4 {
      width: 100%;
    }
  }

  // Phone
  @include max-xxs {
    .w1 {
      width:100%;
    }
    .w2 {
      width:100%;
    }
    .w3 {
      width:100%;
    }
    .w4 {
      width: 100%;
    }
  }
}

.image-container-center {
  @extend .image-container;
  img {
    margin: 0 auto;
    display: block;
  }
}

.video-container {
  @extend .image-container;
  padding-bottom: 41%;
  position: relative;
  width:100%;
  max-width: 700px;
  height: 0;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
