
<section class="about content">
    <div class="container">
        <h2>Who dis?</h2>
        <p>
            Michael Rurka - I'm a sincere human who lives and stands for to design, creation, empowerment and the enjoyment of life's many treasures. If I just described you, let's coffee: <a href="mailto:michael@rurkadesign.com">michael@rurkadesign.com</a> &#60;3
        </p>
        <h2>What it do?</h2>
        <p>
            I'm doing mostly web and app design lately. More specifically: UX research, UI &amp; graphical interface design for various startups. Although my toolbox also contains visual brand development, responsive frontend web development (no javascript), and the artistic eye.
        </p>
        <h2>Yo, I got a sick project idea!</h2>
        <p>
            I am booked indefinitely beyond May, 2016. Still though, hit me up; I'm always down for passion projects and I also have a network of carefully trusted colleagues I can point you to :)
        </p>
        <h2>How's your Instagram game?</h2>
        <p>
            <a href="https://www.instagram.com/_rurka_/" target="_blank">
                Lit af.
            </a>
        </p>
        <h2>How much do your charge?</h2>
        <p>
            4-5 digits. Project based. 25-50% down.
        </p>
        <h2>Where are you?</h2>
        <p>
            I'm probably in Montreal, Toronto or New Brunswick (all in Canada). I work remotely on every project. Hope you don't mind espresso machines joining us in every meeting.
        </p>
        <h2>You missed something ...</h2>
        <p>
            Did I really? Prove me wrong: <a href="mailto:michael@rurkadesign.com">michael@rurkadesign.com</a> ;)
        </p>
    </div>
</section>
