
<section class="about content">
    <div class="container">
        <p>
          It's evident that what we produce and consume is a reflection of who we are as individuals and as a society. This is true. On my end, I try very hard to be honest with my friends, family, and colleagues. To be considerate of the natural environment, and fabricated environment whether occupied or unoccupied, and of those who are part of this environment. To learn, and be the best that I can be, for myself and for my impact in, and on the world. This is important.
        </p>
        <p>
          Currently: I'm working as a designer with Nurx. Designing, creating, and coding interfaces on the front and back facing sides of the business. Nurx is based in San Francisco, and although I consider my home to be in Montreal, Canada, I'm originally from a little town in New Brunswick, Canada.
        </p>
        <p>
          Let's talk design, or just say hi: <a href="mailto:michael@rurkadesign.com">michael@rurkadesign.com</a> :)
        </p>
        <p>
          Cheers,<br>
          - Michael Rurka
        </p>
    </div>
</section>
