
<section className="about site-section-content page-template-bio">
  <div className="container">
    <p>
      What we produce, consume, and attribute to every breath is a reflection of who we are as individuals and as societies.
      To do good,
      be earnest,
      be emphathetic,
      and to leave earth fulfilled, is my priority.
    </p>
    <p>
      Based in San Francisco, designing at <a href="https://nurx.com">Nurx</a>. We're doing some cool shit, check it out :)
    </p>
    <p>
      Let's talk design,<br />Hit me up via <a href="mailto:michael@rurkadesign.com">email</a> or <a href="https://www.instagram.com/_rurka_">insta</a>.
    </p>
    <p>
      - Michael Rurka
    </p>
  </div>
</section>
