---
layout: content
---

<div class="site-container">
  <div class="container">
    <h1 class="post-title">{{ page.title }}</h1>
    <h2 class="post-subtitle">{{ page.subtitle }}</h1>
    {{ content }}
    <div class="take-me-back-bottom-container {{ page.categories }}">
      {% if page.take-me-back-text %}
        <a class="take-me-back-bottom-button close-modal" rel="modal:close" id="{{ page.categories }}-back-button">{{ page.take-me-back-text }}</a>
      {% else %}
        <a class="take-me-back-bottom-button close-modal" rel="modal:close" id="{{ page.categories }}-back-button">Rurka, take me back please</a>
      {% endif %}
    </div>
  </div>
</div>
